.skill_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 90%;
  gap: 2rem;

  h3 {
    font-style: italic;
    font-weight: 500;
  }
  
}

.skill_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}