.card {
  background-color: rgba(99, 99, 99, 0.267);
  width: 20rem;
  height: 20rem;
  display: grid;
  place-content: center;
}

.card:hover {
  background-color: rgba(99, 99, 99, 0.544);
  transition-duration: 0.5s;
  cursor: pointer;
}
