.profile_description {
  gap: 1.5rem;
  width: fit-content;
  display: grid;
  p {
    color: rgba(255, 255, 255, 0.649);
    font-weight: 300;
    line-height: 2.6rem;
  }
  button {
    padding: 0.7rem;
    margin-top: 1rem;
    border-color: transparent;
    border-radius: 2rem;
    border-style: solid;
    font-weight: bold;
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: min-content;
    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  button:hover {
    cursor: pointer;
  }
}

@media (min-width: 770px) {
  .profile_description {
    h2 {
      font-size: 3.7rem;
    }
  }
}

