.navigation {
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.1rem 1.6rem;
  font-size: 1.35rem;
  border-top: 0rem;
  border-left: 0rem;
  border-right: 0rem;
  border-bottom: 0.03rem;
  border-style: solid;
  border-color: white;
  position: fixed;
  top: 0;
  z-index: 50;
}

@media (min-width: 425px) {
  .navigation {
    margin-top: 2rem;
    display: grid;
    border: none;
    background-color: transparent;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
  }
}

@media (min-width: 980px) {
  .navigation {
    grid-template-columns: 32.5% 35% 32.5%;
  }
}
